@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Merienda:wght@500&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@500&family=Rye&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background: url(Portfolio_images/blackwood_background.jpg);

  background-size: auto;
  color: whitesmoke;
}

/*--------------------HEADER----------------------*/
.header-container {
  position: relative;
  width: 100%;
  max-height: 130vh;
  background-image: url(Portfolio_images/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header-display-hidden {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.side-bar-menu {
  display: none;
  position: absolute;
  top: 5%;
  right: 0;
  width: 110px;
  background-color: rgb(128, 128, 128, 0.1);
  max-height: 100vh;
  z-index: 100;
}
.side-bar-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hamburger-icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0%;
  display: none;
}
.hamburger-button {
  background-color: rgb(128, 128, 128, 0.3);
  font-size: 12px;
  font-weight: bolder;
  color: white;
  border: none;
}
.hamburger-button span {
  padding: 2px;
}

/*.menu-list li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #f0ad4e;
  display: block;
  transition: all 0.25s ease-in-out;
}*/
.menu-list li a:hover::after {
  width: 100%;
}
/*------Vratiti na ovo ako ne uspije s BOOTSTRAPOM------------*/
/*.header-text {
  margin-left: 20%;
  margin-top: 10%;
}*/
.header-text p {
  font-size: 1.2rem;
}
/*.header-text p::after {
  content: "";
  height: 2px;
  width: 35vh;
  background-color: #f0ad4e;
  display: block;
}*/

.header-text h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}
.header-text h1 span {
  font-weight: bolder;
}
.header-image {
  display: flex;
  justify-content: center;
}
/*--------------MAIN---------------*/
.profile-image {
  box-shadow: 2px 2px 3px 4px rgb(135, 131, 131, 0.5);
}
.language-menu li a {
  font-size: 12px;
}
.language-menu button {
  font-size: 12px;
}

/*--------------------------------MY PROJECTS---------------------------------------------*/
.projects-container {
  background-color: #e6e6e6;
  color: black !important;
  transition: all 0.5s ease-in-out;
  box-shadow: 2px 2px 3px 2px rgb(255, 255, 255, 0.2);
}
.projects-container:hover {
  background-color: rgb(176, 176, 176);
  transform: translateY(-10px);
}

/*--------------------------------------CONTACT------------------------------------------------------*/
/*#contact {
  border-top: 1px solid white;
  margin-top: 3rem;
}*/

.contact-left p {
}
.button-cv {
  padding: 8px 15px;
}
form input,
form textarea {
  outline: none;
  background: rgb(60, 59, 59);
  color: white;
}

/*-------------------------------MEDIA SCREEN--------------------------------------- */
@media only screen and (max-width: 768px) {
  .header-text p {
    font-size: 0.67rem;
  }
  .header-text h1 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.25rem;
  }
  .header-text p::after {
    width: 20vh;
  }
  .logo-text span {
    font-size: 1rem;
  }
  .menu-text li a {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 640px) {
  .hamburger-icon {
    display: block;
  }
  .side-bar-menu {
    display: none;
  }
  .header-display-hidden {
    display: none;
  }
  .header-container {
    width: 100%;
    max-height: 120vh;
    padding-top: 1rem;
  }
}
@media only screen and (max-height: 700px) {
  .header-image {
    display: flex;
  }
  .header-container {
    width: 100%;
    max-height: 250vh;
    padding-top: 1rem;
  }
  .side-bar-menu {
    display: none;
    position: absolute;
    top: 5%;
    right: 0;
  }
}
/*@media only screen and (max-width: 1024px) {
  .header-container {
    width: 100%;
    height: 100vh;
  }
  .header-text p {
    font-size: 1rem;
  }
  .header-text p::after {
    width: 20vh;
  }

  .header-text h1 {
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0.55rem;
  }
  .header-text h1 span {
    font-weight: bold;
  }
}
@media only screen and (max-width: 1600px) {
  .header-container {
    width: 100%;
    height: 80vh;
  }
}
@media only screen and (max-width: 1400px) {
  .header-text p {
    font-size: 1.5rem;
  }
  .header-text h1 {
    font-size: 2.6rem;
    font-weight: bold;
    padding: 0.75rem;
  }
  .header-text p::after {
    width: 25vh;
  }
  .header-text h1 span {
    font-weight: bolder;
  }
}*/
